.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___name{
  width: 100%;
  text-align: center;
  color:#21568F;
  font-weight: bolder;
  font-size: 30px;
  margin: 10px;
}

.fighter-preview___img{
  height: 66%;
}

.fighter-preview___description{
  width: 100%;
  margin: 5px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.fighter-preview___data{
  color: #21568F;
  font-size: larger;
  font-weight: bold;
}